<p style="color: green"><%= notice %></p>

<h1>Forums</h1>

<div id="forums">
  <% @forums.each do |forum| %>
    <%= render forum %>
    <p>
      <%= link_to "Show this forum", forum %>
    </p>
  <% end %>
</div>

<%= link_to "New forum", new_forum_path %>
